<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>民大辅修</title>
    <!--强制让文档与设备的宽度保持1：1,对页面设置不能进行缩放-->
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <!--忽略页面中的数字识别为电话，忽略email识别-->
    <meta name="format-detection" content="telphone=no, email=no"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/2020/12/25/jquery-weui.min.css">

    <style>
        .content{
            min-height: 15rem;
            padding: .5rem;
        }
        .toolbar .title {
            line-height: .3rem;
        }
        a:hover{
            text-decoration: none;
            color: white;
        }
        .more{
            display: none;
        }
        .less{
            display: block;
        }
    </style>
</head>
<body>
<div class="content">
    <header>
        <div class="" style="text-align: center;height: 4rem;line-height: 4rem;font-size: 1rem;color: #33CCFF;">辅修报名</div>
    </header>

    <!--  折叠信息  -->
    <div class="weui-cells__title less">学生信息</div>
    <div class="weui-cells less">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>姓名</p>
            </div>
            <div class="weui-cell__ft xm">[% c.student_userinfo.XM %]</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>学号</p>
            </div>
            <div class="weui-cell__ft xh">[% c.student_userinfo.XH %]</div>
        </div>
        <div class="">
            <div id="show-more" style="text-align: center;border-top: solid 1px #eee;"><i class="glyphicon glyphicon-menu-down"></i></div>
        </div>
    </div>

    <div class="weui-cells__title more">学生信息</div>
    <div class="weui-cells more">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>姓名</p>
            </div>
            <div class="weui-cell__ft xm">[% c.student_userinfo.XM %]</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>学号</p>
            </div>
            <div class="weui-cell__ft xh">[% c.student_userinfo.XH %]</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>考生号</p>
            </div>
            <div class="weui-cell__ft ksh">[% c.student_userinfo.KSH %]</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>性别</p>
            </div>
            <div class="weui-cell__ft xbmc">[% c.student_userinfo.XBMC %]</div>
        </div>

        [% IF bminfo != 'false' %]
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>联系电话</p>
                </div>
                <div class="weui-cell__ft sfzjh">[% bminfo.LXFS %]</div>
            </div>
        [% END %]
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>身份证号</p>
            </div>
            <div class="weui-cell__ft sfzjh">[% c.student_userinfo.SFZJH %]</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>民族</p>
            </div>
            <div class="weui-cell__ft mzmc">[% c.student_userinfo.MZMC %]</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>政治面貌</p>
            </div>
            <div class="weui-cell__ft zzmmmc">[% c.student_userinfo.ZZMMMC %]</div>
        </div>

    </div>
    <div class="weui-cells__title more">主修专业信息</div>
    <div class="weui-cells more">

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>主修学院</p>
            </div>
            <div class="weui-cell__ft xy">[% c.student_userinfo.XYMC %]</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>主修年级</p>
            </div>
            <div class="weui-cell__ft nj">[% c.student_userinfo.XZNJ %]</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>主修入学日期</p>
            </div>
            <div class="weui-cell__ft rxrq">[% c.student_userinfo.RXRQ %]</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>主修专业大类</p>
            </div>
            <div class="weui-cell__ft xkml">[% c.student_userinfo.ZXZYDL %]</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>主修专业</p>
            </div>
            <div class="weui-cell__ft zy">[% c.student_userinfo.ZXZY %]</div>
        </div>
        <div class="">
            <div id="show-less" style="text-align: center;border-top: solid 1px #eee;"><i class="glyphicon glyphicon-menu-up"></i></div>
        </div>
    </div>

    [% IF bminfo == "false" %]

        <div class="weui-cells__title">个人信息</div>
        <div class="weui-cells ">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>联系电话</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="tel" class="weui-input" id="mobile" style="text-align: right;" placeholder="请输入联系电话">
                </div>
            </div>
        </div>
        <div class="weui-cells__title">辅修专业信息</div>
        <div class="weui-cells ">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>辅修学院</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="text" class="weui-input" id="xy" style="text-align: right;" placeholder="请选择">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>辅修专业</p>
                </div>
                <div class="weui-cell__ft zy-input">
                    <input type="text" class="weui-input" id="zy" style="text-align: right;" placeholder="请选择">
                </div>
            </div>
        </div>
        <div class="weui-cells__tips zy-tips"></div>
        <div style="height: 3rem;"></div>
        <a href="javascript:;" class="weui-btn weui-btn_primary">确认</a>
    [% ELSE %]
        <div class="weui-cells__title">辅修专业信息</div>
        <div class="weui-cells ">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>辅修学院</p>
                </div>
                <div class="weui-cell__ft sfzjh">[% bminfo.FXXYMC %]</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>辅修专业</p>
                </div>
                <div class="weui-cell__ft sfzjh">[% bminfo.FXZYMC %]</div>
            </div>
        </div>
        <div class="weui-cells__title">报名状态</div>
        <div class="weui-cells ">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>审核状态</p>
                </div>
                <div class="weui-cell__ft" style="font-weight: bold;">
                    [% IF bminfo.SHZT == '0' %]
                        <span style="color: #2a8bcc;">审核中</span>
                    [% ELSIF bminfo.SHZT == '1' %]
                        <span style="color: #00be67">审核通过</span>
                    [% ELSIF bminfo.SHZT == '-1' %]
                        <span style="color: #9C4B3D">审核未通过</span>
                    [% END %]
                </div>
            </div>

        </div>
    [% END %]


</div>
<!-- body 最后 -->
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/2020/12/25/jquery-weui.min.js"></script>
<script>

    $(function () {
        let fxzyArrList = [% fxzy_list %];
        let fxxyDmList = [];
        let fxxyInfoList = [];
        let fxzyList = [];
        let selectedZY = null;
        // 遍历辅修专业 整理格式 获取学院代码
        function fxzyEach() {
            $.each(fxzyArrList,function (i,v) {
                fxxyDmList.push(v.XYDM);
            })
            // 处理辅修学院
            $.get("/2020/10/25/api/collegeslist",{search:''},function (res) {
                let data = JSON.parse(res);
                $.each(data.DATA,function (i,v) {
                    if($.inArray(v.XYDM,fxxyDmList) !== -1){
                        fxxyInfoList.push({
                            title:v.ZWMC,
                            value:v.XYDM
                        })
                    }
                })
                pickerList()
            })
        }
        fxzyEach();
        // 学院
        function pickerList() {

            console.log(fxxyInfoList)

            $("#xy").select({
                title: "选择辅修学院",
                items: fxxyInfoList
            });

        }
        $("#xy").change(function (e) {
            let xydm = $(this).attr('data-values');

            // 重新整理专业
            fxzyList = [];
            $.each(fxzyArrList,function (i,v) {
                if(xydm === v.XYDM){
                    fxzyList.push({
                        title:v.ZWMC,
                        value:v.ZYDM
                    })
                }
            })
            if(fxzyList.length === 0){
                return false;
            }
            $('.zy-tips').html('');
            $('.zy-input').find('#zy').remove();
            $('.zy-input').html('<input type="text" class="weui-input" id="zy" style="text-align: right;" placeholder="请选择">');
            $("#zy").select({
                title: "选择辅修专业",
                items: fxzyList
            });
        })


        $(document).on('change','#zy',function (e) {
            // 获取专业代码
            let dm = $(this).attr('data-values');
            let val = $(this).val();
            if(dm && dm !== selectedZY){
                // 查询已报名人数
                var date = new Date();
	            let year = date.getFullYear();
                $('.zy-tips').html('');
                $.get('/2020/10/25/api/getFXZYCount',{fxzydm:dm,fxnf:year},function (data) {
                    let dataJson = JSON.parse(data);
                    $('.zy-tips').html(val+': '+dataJson.DATA[0].TOTAL+'人报名');
                })
            }
        });

        $('.weui-btn_primary').click(function () {

            let FXXYDM = $('#xy').attr('data-values');
            let FXZYDM = $('#zy').attr('data-values');
            let mobile = $('#mobile').val().trim();

            let reg =  /^1[3-9]+\d{9}$/;
            if(!reg.test(mobile)){
                $.toast('请输入正确手机号码','forbidden');
                return false;
            }
            if(!FXXYDM){
                $.toast('请选择辅修学院','forbidden');
                return false;
            }
            if(!FXZYDM){
                $.toast('请选择辅修专业','forbidden');
                return false;
            }

            $.confirm("确定要提交辅修报名吗?", function() {
                submitData()
            });
        });

        /**
         *  数据提交
         */
        function submitData() {

            let XH = '[% c.student_userinfo.XH %]';
            let FXXYDM = $('#xy').attr('data-values');
            let FXZYDM = $('#zy').attr('data-values');
            let mobile = $('#mobile').val().trim();
            let param = {
                XH : XH,
                FXXYDM:FXXYDM,
                FXXYMC:$('#xy').val(),
                FXZYDM : FXZYDM,
                FXZYMC: $('#zy').val(),
                MOBILE:mobile
            };
            // 提取专业大类代码和学科代码
            $.each(fxzyArrList,function (i,v) {
                console.log(v)
                if( FXZYDM === v.ZYDM ) {
                    param.FXZYDLDM = v.ZYDLDM;
                    param.FXZYXKDM = v.XKMLDM;
                }
            })
            $.post("",param,function (data) {
                let info = JSON.parse(data)
                if(info.code == 1){
                    $.toast(info.msg);
                    setTimeout(function () {
                        // 重定向到首页
                        location.href = '/2020/11/15'
                    },2000)
                }else{
                    $.toast(info.msg, "cancel");
                }
            })
        }

        $('#show-more').click(function () {
            $('.less').hide();
            $('.more').show();
        })
        $('#show-less').click(function () {
            $('.less').show();
            $('.more').hide();
        })
    })
</script>
</body>
</html>